body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  color: #8f8f8f;
  font-size: 1.2rem;
  font-family: "Montserrat-Thin";
}

/* Navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrant-light";
}

/* Download buttons */

.dwnld-btn {
  margin: 5% 3% 5% 0;
}

/* title Image  */

.title-img {
  width: 60%;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features  */

#features {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
  text-align: center;
  padding: 7% 10%;
  background-color: white;
  position: relative;
}

.icon {
  font-size: 5rem;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials  */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 13%;
  height: 10vw;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
  overflow: hidden;
}

/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 5%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing {
  text-align: center;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-message {
    padding-bottom: 10%;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* CTA */

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
  padding: 7% 15%;
}

.cta-text {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
}

.footer-icon {
  padding: 1%;
}
